
.calculator {
  width: 220px;
  margin: 50px auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 10px black;
}


#screen {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: right;
  font-size: 18px;
  overflow-x: auto;
}


button {
  width: 45px;
  height: 45px;
  margin: 3px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(153, 142, 142);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: rgb(49, 49, 49);
}


button[onclick="clearScreen()"], 
button[onclick="deleteOne()"] {
  background-color: coral;
}

button[onclick="clearScreen()"]:hover, 
button[onclick="deleteOne()"]:hover {
  background-color: lightsalmon;
}


button[onclick="calculate()"] {
  background-color: lightgreen;
}

button[onclick="calculate()"]:hover {
  background-color: lightgreen;
}
